*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --bacic-blue: #81B3D2;
    --basic-brown: #766357;
}

html {
    height: 100%;
    background-color: #EEEEEE;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Main navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}


.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation a {
    color: var(--basic-black)
}

.main-navigation a:hover {
    color: var(--bacic-blue)
}

.main-navigation a:active {
    color: var(--basic-black);
    opacity: 30%;
}

.subtitle {
    text-align: center;
}

.subtitle-head {
    margin-top: 42px;
    margin-bottom: 42px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.subtitle-text {
    margin-top: 0;
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.city-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
}

.city-text-wrapper {
    width: 400px;
    height: 256px;
    padding-top: 47px;
    background-color: var(--bacic-blue);
}

.real-city {
    margin: 0;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.city-number {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-white);
}

.city-text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-white);
}

/* Offers */

.offers {
    display: flex;
    align-items: center;
    margin-bottom: 82px;
}

.offers-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.accomodation {
    margin-left: 81px;
}

.food {
    margin: 0 auto;
}

.souvenir {
    margin-right: 65px;
}

.house-pic {
    width: 75px;
    height: 72px;
    background-image: url(../img/icon_home.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.food-pic {
    width: 75px;
    height: 70px;
    background-image: url(../img/icon_food.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.souvenir-pic {
    width: 64px;
    height: 77px;
    background-image: url(../img/icon_souvenir.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offers h3 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.offers p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.bridge-text-wrapper {
    display: block;
    width: 400px;
    height: 256px;
    padding: 50px;
    background-color: var(--bacic-blue);   
    color: var(--basic-white);
    text-align: center;
}

.bridge-wrapper {
    display: flex;
    flex-direction: row;
}

.bridge-text-wrapper h3 {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.bridge-wrapper p {
    margin: 0;
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.advantages-wrapper {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 54px;
    background-color: #EEEEEE;
}

.advantages-wrapper h3 {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.advantages-wrapper p {
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hotel-search-button {
    margin: 0 auto;
    display: block;
    background-color: var(--basic-brown);
    color: var(--basic-white);
    width: 568px;
    height: 86px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    outline: none;
    border: none;
}

.search-section-head h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
}

.search-section-head p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.hotel-search-button:hover {
    background-color: #604E43;
}

.hotel-search-button:active {
    background-color: #503E33;
}

.hotel-search-button:active span {
    opacity: 0.3;
}
